{% extends 'base.html' %}  {% load static %}<!--trae el modelo base de base.html-->
{% block title %}Cortes Niños{% endblock %} <!--es para colocar el titulo a la página-->

{% block content %}

    <section id="galeria" class="container">
        <div class="text-center pt-5">
        <h1 class="text-light"> NIÑOS</h1>
        <p class="text-light">Acá encontraras fotografias de nuestros servicios.</p>

        </div>
        <div class="row m-5">
            <div class="card-group">
                <div class="card">
                    <img src="{% static 'img/niño1.jpg' %}" class="card-img-top" alt="..." width="50px" height="300px">                  
                </div>
                <div class="card">
                    <img src="{% static 'img/niño2.jpg' %}" class="card-img-top" alt="..."  width="50px" height="300px">                  
                </div>
                <div class="card">
                    <img src="{% static 'img/niños3.jpg' %}" class="card-img-top" alt="..."  width="50px" height="300px">                  
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                    <img src="{% static 'img/img3.jpg' %}" class="card-img-top" alt="..." width="50px" height="300px">                  
                </div>
                <div class="card">
                    <img src="{% static 'img/niña1.jpg' %}" class="card-img-top" alt="..."  width="50px" height="300px">                  
                </div>
                <div class="card">
                    <img src="{% static 'img/niñas2.jpg' %}" class="card-img-top" alt="..."  width="50px" height="300px">                  
                </div>
            </div>

        </div>

    </section>

        
    {% endblock%}